<div class="container">
  <span class="title">Step 1: Choose your Model and color</span>
  <ng-container *ngIf="models$ | async as models; else loading">
    <div class="select-container">
      <span>Model:</span>
      <select id="modelSelect" [(ngModel)]="stepService.selectedModel">
        <option *ngFor="let model of models" [ngValue]="model">
          {{ model.description }}
        </option>
      </select>
    </div>
    <div class="select-container" *ngIf="stepService.selectedModel">
      <span>Color:</span>
      <select id="colorSelect" [(ngModel)]="stepService.selectedColor">
        <option
          *ngFor="let color of stepService.selectedModel.colors"
          [ngValue]="color"
        >
          {{ color.description }}
        </option>
      </select>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="loading-container">
      <span>Loading...</span>
    </div>
  </ng-template>
</div>
