<div class="container">
  <button id="step1" routerLink="/model" routerLinkActive="active">
    <i class="bx bxs-cog" *ngIf="!stepService.isStep2Available"></i>
    <i class="bx bxs-check-circle" *ngIf="stepService.isStep2Available"></i>
    <span>Step 1</span>
  </button>
  <button
    id="step2"
    [routerLink]="stepService.isStep2Available ? '/config' : null"
    routerLinkActive="active"
    [ngClass]="{ 'disabled-button': !stepService.isStep2Available }"
    [title]="
      !stepService.isStep2Available ? 'Complete Step 1 to continue' : 'Step 2'
    "
  >
    <i class="bx bx-block" *ngIf="!stepService.isStep2Available"></i>
    <i
      class="bx bxs-cog"
      *ngIf="stepService.isStep2Available && !stepService.isStep3Available"
    ></i>
    <i class="bx bxs-check-circle" *ngIf="stepService.isStep3Available"></i>
    <span>Step 2</span>
  </button>
  <button
    id="step3"
    [routerLink]="stepService.isStep3Available ? '/summary' : null"
    routerLinkActive="active"
    [ngClass]="{ 'disabled-button': !stepService.isStep3Available }"
    [title]="
      !stepService.isStep3Available ? 'Complete Step 2 to continue' : 'Step 3'
    "
  >
    <i class="bx bx-block" *ngIf="!stepService.isStep3Available"></i>
    <i class="bx bxs-check-circle" *ngIf="stepService.isStep3Available"></i>
    <span>Step 3</span>
  </button>
</div>
