<div class="container">
  <span class="title">Step 2: Select your config and options</span>
  <ng-container *ngIf="option$ | async as option; else loading">
    <div class="select-container">
      <span>Config:</span>
      <select id="configSelect" [(ngModel)]="stepService.selectedConfig">
        <option [ngValue]="stepService.selectedConfig" disabled hidden>
          {{ stepService.selectedConfig?.description }}
        </option>
        <option *ngFor="let config of option.configs" [ngValue]="config">
          {{ config.description }}
        </option>
      </select>
    </div>
    <div class="infos-container" *ngIf="stepService.selectedConfig">
      <span
        >Range: {{ stepService.selectedConfig.range }} miles - Max speed:
        {{ stepService.selectedConfig.speed }} - Cost:
        {{ stepService.selectedConfig.price | currency }}</span
      >
    </div>
    <div class="checkbox-container" *ngIf="option.towHitch || option.yoke">
      <div class="check" *ngIf="option.towHitch">
        <label for="includeTow">Tow hitch ?</label>
        <input
          type="checkbox"
          id="includeTow"
          [(ngModel)]="stepService.selectedTowHitch"
        />
      </div>
      <div class="check" *ngIf="option.yoke">
        <label for="includeYoke">Yoke steering wheel ?</label>
        <input
          type="checkbox"
          id="includeYoke"
          [(ngModel)]="stepService.selectedYoke"
        />
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="loading-container">
      <span>Loading...</span>
    </div>
  </ng-template>
</div>
